<h2 mat-dialog-title>Add Product</h2>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input
        formControlName="productName"
        matInput
        placeholder="Insert a name"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <mat-select formControlName="category" placeholder="Category">
        <mat-option value="Fruits">Fruits</mat-option>
        <mat-option value="Vegetables">Vegetables</mat-option>
        <mat-option value="Flowers">Flowers</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for=""><h2>Product Freshness</h2></label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="freshness"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let fresh of freshnessList"
        [value]="fresh"
        >{{ fresh }}</mat-radio-button
      >
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        formControlName="price"
        matInput
        type="number"
        placeholder="Insert a number"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Commnet</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="basic" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="addProduct()">
    {{ actionBtn }}
  </button>
</div>
